#ALBUMS header {
    background-color: rgba(163, 10, 10, 0.507);
    font-size: 3rem;
    grid-area: enc;
}

body{
    background-color: rgba(124, 121, 122, 0.74);
    background: url(./recursos/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#ALBUMS aside {
    font-size: 30px;
    background-color: rgba(163, 10, 10, 0.788);
    grid-area: barra;
}

p{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#ALBUMS img {
    float: right;
    border-radius: 50%;
}

#Pie{
    text-align: center;
    background-color:#F2F2F2;
    padding: 15px;
}


#Contenido ul {
    background-color: #3636369a;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.overflow{
    width: 1000px;
    height: 15em;
    background-color: red;
    overflow: auto;
}