.Discos{
    background-color: rgba(255, 217, 0, 0.767);
}

body{
    background-color: rgba(124, 121, 122, 0.74);
    background: url(./recursos/fondomusica.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#Pie{
    text-align: center;
    background-color:#F2F2F2;
    padding: 15px;
}

.Discos2{
    background-color: rgba(6, 76, 134, 0.767);
}


.banda{
    background-color: rgba(0, 0, 0, 0.445);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

h1{
    background-color: rgba(0, 0, 0, 0.596);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

h2{
    background-color: rgba(238, 0, 0, 0.479);
    color: rgb(255, 255, 255);
    font-size: 30px;
}


