* {
        margin: 0px;
    padding: 0px;
}
body {
    background: url(../Fondopastel.jpg);
    background-size: 100%;
}

#tema {
    display: flex;
    justify-self: flex-start;
    color: blue;
    font-family: sans-serif;
}