.img_consultor {
    width: 400px;
    margin-right: 1em;
    border-radius: 10%;
}

header {
    padding: 60px;
    text-align: center;
    background: #731abc;
    color: white;
    font-size: 30px;

}

blockquote {
    font-size:medium;
}

pre {
    font-size: larger;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}