body {
    background-color: #000000;
    color: red;
}

#nav-main4 ul li{
    text-align: center;
    background-color: rgb(0, 0, 0);
    float: left;
    width: 20%;
    font-size: 25px;
}

header{
    text-align: center;
    font-size: 50px;
    font-family:'Brush script MT';
    font-style: italic;
    color: rgb(215, 19, 19);

}
#nav-main4 ul li:hover {
    background-color: rgb(215, 19, 19);
}



#logo img{
    width: 400px;
    float:unset;
    text-align: center;
    margin-right: 1em;
    border-radius: 20%;
}

footer{
    background-color: black;
    color: white;
    position: absolute;
    text-align:left; 
    width: 100%; 
    bottom: 0px; 
    width: 100%;
}