.menu{
    list-style: none;
    padding: 0%;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: #FFA1CF;
}

.menu li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
    
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #FFD6EC;
}

/* -------------------------- */

.primero{
    background-color: #FFA1CF;
}

.segundo{
    background-color: #FFA1CF;
}

.justificar{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

p{
    text-align: justify;
}


h2{
    text-align: center;
}

.imagen1 {
    width: 100px;
}

.imagen2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.logo {
    display:    flex;
    background-color: #FFA1CF;
}

.center{
    text-align: center;
    width: 100px;
}

header{
    text-align: center;
   background-color: #FFA1CF;
    padding: 20px;
    margin: 100px,20px,100px,20px;
    
}

h1{
    text-align: center;
   
    padding: 20px;
    margin: auto;

}

h6{
    text-align: center;
}