.menu{
    list-style: none;
    padding: 0%;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: #FFA1CF;
}

.menu li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
    
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #FFD6EC;
}

/* -------------------------------------------- */





