body {background-color: rgb(235, 245, 251);
}

h1 {background-color:rgb(209, 242, 235);
    color: rgb(69, 179, 157);
    font-family: 'Verdana';
    font-size: 50px;}

main {color:rgb(31, 97, 141);
    font-family: 'Century Gothic';
    font-size: 30px;
    margin-left: 2em;
}

h2 {color:rgb(31, 97, 141);
    font-family: 'Century Gothic';
    font-size: 23px;
    margin-left: 2em;}

ol {color:rgb(31, 97, 141);
    font-family: 'Century Gothic';
    font-size: 23px;
    margin-left: 1em;
    
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;
    padding: 20px;
    margin: 20px;
    text-align: center;
    justify-content: space-around;
}

strong {color: rgb(0, 0, 0);
    font-family: 'Century Gothic';
    font-size: 15px;}

pre {color: rgb(0, 0, 0);
    font-family: 'Century Gothic';
    font-size: 15px;}







