body {background-color: rgb(235, 245, 251);
}

h1 {background-color:rgb(209, 242, 235);
    color: rgb(69, 179, 157);
    font-family: 'Verdana';
    font-size: 50px;}

ul {color:rgb(31, 97, 141);
    font-family: 'Century Gothic';
    font-size: 20px;
    margin-left: 1em;
}

mark {color:rgb(0, 0, 0);
    float: center;
    font-family: 'Century Gothic';
    font-size: 15px;
}