body {background-color: rgb(235, 245, 251);
}

h1 {background-color:rgb(209, 242, 235);
    color: rgb(69, 179, 157);
    font-family: 'Verdana';
    font-size: 50px;}

section {color:rgb(31, 97, 141);
    font-family: 'Century Gothic';
    font-size: 23px;
    margin-left: 2em;
}

li {background-color: white;}

#Pfizer img {
    float: left;
    width: 500px;
    margin-right: 1em;
    border-radius: 20px;
}

#Astrazeneca img {
    float: right;
    width: 300px;
    margin-right: 1em;
    border-radius: 20px;
}

#Sinovac img {
    float: right;
    width: 300px;
    margin-right: 1em;
    border-radius: 20px;
}

#JJ img {
    float: left;
    width: 300px;
    margin-right: 1em;
    border-radius: 20px;
}