#info img{
    width: 250px;
    float: left;
    margin-right: 1em;
    border-radius: 50%;
}

#nav-main ul{
    background-color: blueviolet;
}

#nav-main ul li{
    float: left;
    width: 20%;
}

.clear::after{
    clear: both;
    content: "";
    display: table;
}