#Linares{
        align-items: center;
        font-size: 50px;
        color: #fad089;
        background-color: #f5634a;
        border-radius: 35px;
        list-style:none;
        padding: 0;
        margin: 0;
        align-content: space-between;
        display: flex;
        justify-content: space-around;
        flex-flow: row ;
        overflow: hidden;   
}


#menu ul{
    background-color: #efbc98;
    list-style:none;
    padding: 0;
    margin: 0;
    align-content: space-between;
    display: flex;
    justify-content: space-around;
    flex-flow: row ;
    overflow: hidden;
    border-radius: 35px;
   

}

#menu ul li{
    align-self: center;
}



#menu ul li a strong{
    color: #eb5874;
   
    
}

a{
    text-decoration: none;
    align-self: center;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#descripcion{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f5634a;
    text-shadow:0 0 20px #f1ffd5
}

#caracteristicas img {
    width: 500px;
    float: left;
    margin-right: 1em;
}




#caracteristicas{
    color: #fad089;
    background-color: #f5634a;
    grid-column: 1 / -1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;


}

#atractivos img{
    width: 500px;
    float: right;
    margin-right: 1em;

}

#atractivos div{
    float: left;
    color: #fad089;
    background-color: #f5634a;
    grid-column: 1 / -1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;


}



.nombre{
    font-size: 30px;
    font-family:cursive;
    color: #f5634a;
}

#video{
    width: 500px;
    float: right;
    margin-right: 500em;
}