body{
    font-family: "Avenir Next";
    font-size: 20px;
}

#Iniciodecorador{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    background-color: #023059;
    color: #023059;
    margin: 0px;
}