body {
    background-color: black;
}
h1 {
    font-size: 80px;
    text-decoration: red;
    text-align: center;
    border-top: 10px solid white;
    border-bottom: 10px solid whitesmoke;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
    background-color: gray;
    color: #3D0000 ;
}
.titulo:hover{
    background-color: #3D0000;
    color: whitesmoke;
}
h2 {
    font-size: 60px;
    text-decoration: red;
    text-align: left;
    color: whitesmoke;
}
p {
    font-style: italic;
    color: whitesmoke;
    font-size: 20px;
}
#nav-panel ul {
    background-color: #950101;
    color: black;
    font-size: 30px;
}

#nav-panel ul li {
    float: right ;
    width: 20%;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
blockquote {
    text-align: center;
    color: red;
    border-top: 10px solid white;
    border-bottom: 10px solid whitesmoke;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
}
figcaption {
    color: whitesmoke;
    font-size: 25px;
}
footer{
    text-align: center;
}
p2 {
    color: whitesmoke;
    font-style: italic;
    font-size: 20px;
}
address {
    color: whitesmoke;
}
table, th, td {
    text-align: center;
    background-color: #950101;
    color: whitesmoke;
    border: 3px solid gray;
    border-collapse: collapse;
}
.Btab {
    width: 100%;
}
.texto-centrado{
    text-align: center;
}

.contenedor-grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(500px , 1fr)); 
    padding: 50px 0px;
}

.contenedor-grid img {
    width: 80%;
    text-align: center;
    border-radius: 100px;
    margin-top: 50px;
}

.contenedor{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.Vid1 {
    width: 40%;
    padding-top: 50px;
}