body {
    background-color: black;
}
h1 {
    font-size: 80px;
    text-decoration: red;
    text-align: center;
    border-top: 10px solid white;
    border-bottom: 10px solid whitesmoke;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
    background-color: gray;
    color: #3D0000 ;
}
.titulo:hover{
    background-color: #3D0000;
    color: whitesmoke;
}
h2 {
    font-size: 40px;
    text-decoration: red;
    text-align: left;
    color: whitesmoke;
}
p {
    color: whitesmoke;
}
#indimg img{
    width: 550px;
    float:right;
    margin-right: 2em;
    border-radius: 30%;
}
#nav-panel ul {
    background-color: #950101;
    color: black;
    font-size: 30px;
}

#nav-panel ul li {
    float: right ;
    width: 20%;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
blockquote {
    text-align: center;
    color: red;
    border-top: 10px solid white;
    border-bottom: 10px solid whitesmoke;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
}
figcaption {
    color: whitesmoke;
    font-size: 25px;
}
footer{
    text-align: center;
}