body{
    background-color:#787A91;
}
h1 {
    font-size: 80px;
    text-decoration: red;
    text-align: center;
    border-top: 10px solid white;
    border-bottom: 10px solid whitesmoke;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
    background-color: black;
    color: whitesmoke ;
}
.titulo:hover{
    background-color: #0F044C;
    color: black;
}
#nav-panel ul {
    background-color: #141E61;
    color: black;
    font-size: 30px;
}

#nav-panel ul li {
    float: right ;
    width: 20%;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

figcaption {
    text-align: center;
}
p {
    font-size: 20px;
    text-align: center;
}
audio {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
}