body{
    background-color:#E8F9FD;
}
h1 {
    font-size: 80px;
    text-decoration: red;
    text-align: center;
    border-top: 10px solid white;
    border-bottom: 10px solid whitesmoke;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
    background-color: #3D0000;
    color: whitesmoke ;
}
.titulo:hover{
    background-color: black;
    color: #1E5128;
}
#nav-panel ul {
    background-color: #3D0000;
    color: black;
    font-size: 30px;
}

#nav-panel ul li {
    float: right ;
    width: 20%;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}