/* Imagen y texto en secci贸n */
#info img{
    width: 200px;
    float: left;
    margin-right: 1em;
    border-radius: 50px;
}

/* Barra de navegaci贸n */
#nav-main{
    background-color: rgb(255, 181, 181);
}
#nav-main ul li {
    float: left;
    width: 20%;
}
/* Acomodo de la barra de navegaci贸n */
.clearfix::after{
    clear:both;
    content: "";
    display: table;
}

/* Hacer flexible para sus hijos en la navegaci贸n v2 */
#nav-main-2 ul{
    display: flex;
}