h1 {
    text-align: center;
    background-color: #FF9494;
    color: black;
    padding: 14px;
    width: 95%;
    font-size: 30px;
}

h2 {
    text-align: center;
    color: #FF9494;
    width: 98%;
}

#sobre h2 {
    text-align: left;
    color: black;
    width: 98%;
    font-size: 30px;
    display: inline;
    margin: 100px;
}

.palomitas {
    width: 50px;
    float: right;
    margin-right: 1em;   
}

.palomas {
    width: 50px;
    float:left;
    margin-right: 1em;  
}

#contenido {
    display: inline;
    margin: 200px;
    text-align: center;
}

#listas {
    display: inline;
    margin: 200px;
}

.contenedor-imagen{
    width: 100%;
    text-align: center;
}

.img{
    width: 50%;
    vertical-align: top;
}

nav ul {
    background-color: #FFE3E1;
    width: 97%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    color: black;
    padding: 10px;
    width: 200px;

}

nav li:hover {
    background-color: #FFD1D1;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #FFF5E4;
    color: black;
    margin-top: 40px;
}
footer p {
    text-align: center;
    padding: 10px;
}

