h1 {
    text-align: center;
    background-color: #F37878;
    color: black;
    padding: 14px;
    width: 95%;
}

h2 {
    text-align: center;
    color: red;
    width: 98%;
}

.palomitas {
    width: 50px;
    float: right;
    margin-right: 1em;
    
}

.palomas {
    width: 50px;
    float:left;
    margin-right: 1em;  
}

#info {
    align-items: center;
    padding: 40px;
}

#info img{
    width: 250px;
    margin-right: 1em;
    border-radius: 10%;
    align-items: center;
    justify-items: center;
}

#contenido {
    display: inline;
    margin: 200px;
    text-align: center;
}

#listas {
    display: inline;
    margin: 200px;
}

#info img {
    width: 250px;
    margin-right: 1em;
    border-radius: 10%;
}

.contenedor-imagen{
    width: 100%;
    text-align: center;
}

.img{
    width: 50%;
    vertical-align: top;
}

nav ul {
    background-color: #F9F9C5;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    color: black;
    padding: 10px;
    width: 200px;

}

nav li:hover {
    background-color: #FAD9A1;
}


