#Tema
{
    font: normal .95em 'trebuchet ms', arial, sans-serif;
    font-size: 35px;
    background-color: rgb(243, 247, 19);
}

nav {
    background-color: #e0dab8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
ul {
    display: flex;
    margin-right: 3rem;
}
li {
    display: inline-flex;
    align-items: center;
    margin-right: 60px;
}
#Iniciodecorador{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    background-color: #a7a7a7;
    color: #a7a7a7;
    margin: 0px;
}

.Banner{
    width: 300px;
}

#Menu-de-Barra ul{
    font-family: 'Montserrat';
    font-style: normal;
    list-style:none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-flow: row ;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align:inherit;
    
}

#Menu-de-Barra ul li:hover{
    background-color: rgb(240, 238, 226);
    border-radius: 3px;
}

#Menu-de-Barra ul li:hover{
    background-color: rgb(240, 238, 226);
    border-radius: 3px;
    
}

.Lista ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}
