nav {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
#Tema
{
    font: normal .95em 'trebuchet ms', arial, sans-serif;
    font-size: 35px;
    background-color: rgb(243, 247, 19);
}

p
{
    padding: 20px;
}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ color: #362C20;
    letter-spacing: 0em;
    padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #000;}