/* body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #e5e5f7;
    background-image:  radial-gradient(#d36ed3 0.5px, transparent 0.5px), radial-gradient(#d36ed3 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
} */

body{
    max-width: 100%;
    overflow-x: hidden;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main{
    padding-top: 160px;
    padding-bottom: 210px;
    box-sizing: border-box;
    display: flex;
    min-height: 80vh;
}

/* Header */

.hero__pages{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    /* position: relative; */
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero__pages::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('..//Recursos/Fondo_contacto.jpg');
    background-size: cover;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
    z-index: -1;
}

.hero__container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero__imagen{
    padding-left: 90px;
    padding-top: 110px;
    width: 600px;
    height: 500px;
}

.hero__info{
    padding-right: 900px;
    padding-top: 150px;
    width: 900px;
    height: 500px;
}

/* Main */

.form{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form__title{
    font-size: 2rem;
    margin-bottom: .5em;
}

.form__paragraph{
    font-weight: 300;
}

.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
    --color: #5757577e;
}

.form__input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Poppins', sans-serif;
}

.form__input:not(:placeholder-shown){
    color: #4d4646;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}

.form__label{
    color: var(--color);
    cursor:auto;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form__submit{
    background-color: #3866f2;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
    transform: scale(1);
}

/* Media queris */

@media (max-width:425px){
    .form__title{
        font-size: 1.8rem;
    }
}