body{
    max-width: 100%;
    overflow-x: hidden;
}

main{
    /* padding-right: 900px; */
    display: grid;
    grid-template-columns: 60% 40%;
}

/* Header */

.hero__pages{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    /* position: relative; */
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero__pages::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('..//Recursos/Fondo_precios_2.jpg');
    background-size: cover;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
    z-index: -1;
}

.hero__container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero__imagen{
    padding-left: 90px;
    padding-top: 60px;
    width: 600px;
    height: 500px;
}

.hero__info{
    padding-right: 900px;
    padding-top: 100px;
    width: 900px;
    height: 500px;
}

/* Main */

.page__principal{
    /* padding-right: 920px; */
    text-align: center;
}

.page__precios__paragraph{
    line-height: 1.7;
    font-size: 18px;
    text-align: start;
    margin: 0%;
    margin-top: -10px;
    padding: 0%;
}

.subtitle__h3{
    color: var(--color-title);
    font-size: 25px;
    text-align: start;
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon{
    width: 40px;
}

.cripto_figura{
    text-align: center;
    padding: 14px;
    border: #000 solid;
}