h1 {
    background: #fcdbe6; 
    color: #f15c8e; 
    font-weight: bold; 
    padding: 15px; 
    border: 2px solid #fac9d9; 
    border-radius: 6px; 
    text-align: center;
    font-size: 4vh;
}

h2 {
    color: rgb(233, 67, 175);
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    font-size:4vh;
}

h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 25px;
}

h3[lang]{
    border: 5px dashed palevioletred;
} 

/*#sakura img {
    width: 450px;
    float: right;
    margin-right: 1em;
}*/

#final{
    padding: 15px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
}

