h1 {
    background: #fcdbe6; 
    color: #f15c8e; 
    font-weight: bold; 
    padding: 15px; 
    border: 2px solid #fac9d9; 
    border-radius: 6px; 
    text-align: center;
    font-size: 4vh;
}

h2{
    color: rgb(233, 67, 175);
    font-family: 'Franklin Gothic Medium';
    font-size:4vh;
}

h3{
    color: rgb(94, 80, 115);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
#site-menu {
    display: flex;
    margin: 5;
    padding: 5;
    height: 5vh;
    text-align: center;
    background-color: rgb(244, 201, 222);
}

a[
    href*="valeriacortes2319"
]{
    text-decoration: none;
}

#l1 {
    /* flex-grow: 2; */
    order: 1;
    flex-basis: 300px;
    flex-shrink: 0;
    align-self: center;
    font-size: 25px;
    color: #fac9d9;
}

#l2 {
    /* flex-grow: 2; */
    order: 2;
    flex-basis: 300px;
    flex-shrink: 0;
    align-self: center;
    font-size: 25px;
    color: #fac9d9;
}

#l3 {
    /* flex-grow: 3; */
    order: 3;
    width: 300px;
    align-self: center;
    font-size: 25px;
    color: #fac9d9;
}

#l4 {
    /* flex-grow: 3; */
    order: 4;
    width: 300px;
    align-self: center;
    font-size: 25px;
    color: #fac9d9;
}

#l5 {
    /* flex-grow: 3; */
    order: 5;
    width: 300px;
    align-self: center;
    font-size: 25px;
    color: #fac9d9;
}

#final{
    padding: 15px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 19px;
}
