html{
   /* font-size: 5px; quitarlo para que salga bien el scroll o auto*/
}


.u-em {
    background-color: hsla(66, 100%, 28%, 0.684);
    font-size: 3rem;
    width: 50%;
    /*sem es igual a 5 veces el tamano de fuente del elemento 3 rem(15*3)=45*/
    padding: 5em 3em;
}

.u-porc {
    background-color: #ff00bf;
    width: 50%;
    height: 200px;
}

body {
    /*width: 50%;*/
    background-color: rgb(155, 144, 255);

}

.productos{
    background-color: rgba(166, 255, 0, 0.685);
    height: 70vw;
}

.overflow{
    width: 1000px;
    height: 5em;
    background-color: red;
    overflow: auto;
}