#Contenido ul {
    background-color: #0f1111;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: rgb(172, 0, 0);
    font-size: 3rem;
}

body {
    background-color: #353535
}

#Bienvenido header {
    background-color: rgb(255, 230, 0);
    font-size: 3rem;
    
}

.bienvenido{
    color: bisque;
    font-size: 2rem;
    
}

#Bienvenido img {
    width: 200px;
    float: right;
}



