body{
    background: #FFE7CC;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}
.titulo:hover{
    background-color: #4C6793;
}
h1{
    font-size:25px;
    text-align: center;
    border: 4px solid #4C6793;
}
.fondo {
    width: 100%;
    height: 100vh;
}
img {
   
    margin: 30px 230px;
    
   }
   .principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    padding-top:10px;
    padding-left:80px;
    padding-right:80px;
}
.video{
    text-align: center;
}
h2{
    border: 1px solid #FF884B;
}