body{
    background: #FFE7CC;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}
.titulo:hover{
    background-color: #4C6793;
}
h1{
    font-size:25px;
    text-align: center;
    border: 3px solid #4C6793;
}
p{
    background-color: cadetblue;
    color: white;
    border: 0.5px solid black;
}
h3{
    margin: 0.5%;
}
span{
    display: flex;
    font-size:25px;
    justify-content:center;
}
.principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    padding-top:10px;
    padding-left:150px;
    padding-right:200px;
}
span{
    background-color: #CFFF8D;
}
img{
    border: 1px solid blue;
}