body{
    background: #FFE7CC;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}
.titulo:hover{
    background-color: #4C6793;
}
h1{
    font-size:25px;
    text-align: center;
    border: 3px solid #4C6793;
}
img{
    float: right;
    border: 2px solid black;
}
table, th, td{
    border: 1px solid #372948;
    grid-row: span;
}
h4{
   margin: 5%;
}