body {
    background-color: aqua;
}
h1 {
    text-align: center;
    background-color: black;
    color: white;
}
p {
    font-size: 20px;
    text-align: center;
}
.Imagen1 {
    text-align: center;
}
.Imagen2 {
    text-align: center;
}
.Imagen3 {
    text-align: center;
}
.Imagen4 {
    text-align: center;
}