html{
    background-color: #86A6F59C;
}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(82, 96, 243);
    background-color: aquamarine;
}

#nav-main ul li:hover {
    background-color: rgb(241, 241, 103);
}

#nav-main ul li{
    text-align: center;
    background-color: rgb(236, 172, 216);
    float: left;
    width: 20%;
    font-size: 25px;
}

img{
    width: 100%;
    vertical-align: top;
}

