* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: "tahoma", sans-serif;
}

h1 {
    font-family: "Arial Black", sans-serif;
    font-size: 25px;
    letter-spacing: -1px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

blockquote {
    font-family: "tahoma black", sans-serif;
    font-size: 15px;
    display:flex;
    justify-content: center;
    padding: 10px;
    color:black;
    background-color:  #FFD384;
}

table, th, td {
    border:3px solid #996633
}

.tabla {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

#secciones-grid {
    display:grid;
    /* grid-template-rows: 200px 100px; */
}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    width: 100%;
    text-align: center;
}

.enlace-menu{
    padding: 5px 20px;
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-family: "Arial Black", sans-serif;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}

.enlace-menu:hover{
    background-color: #ffff;
    color: black;
    font-weight: bolder;
}

header {
    background-color: #fde6ba;
}

footer {
    background-color: #000000;
    color: #ffff;
    font-family: "Arial Black", sans-serif;
}
main {
    /* background-color: #f0dbb0; */
    background-color: #ffff;
}

hr {
    border: 1px solid black;
}

h4 {
    font-family: "tahoma black", sans-serif;
    font-size: 15px;
    display:flex;
    justify-content: center;
    padding: 10px;
    color: #000000;
    background-color:  #00FF00;
}