#info img{
    width: 250px;
    float: right;
    margin-right: 1em;

}

#nav-main ul {
    background-color: red;
}

#nav-main ul li {
    float: left;
    width: 20%;
}

.clearfix::after{
    clear: both;
    content: "";
    display: table;
}