body
{
    background-color: rgb(248, 217, 171);
}

#Hola
{
    background-color:  rgb(233, 166, 233) ;
    font-size: 50px;
    
}

#presentacion
{
    font-size: 20px;
}
#pasatiempo
{
    font-size: 25px;
}

#Can
{
    font-size: 20px;
}

#Datos
{
    font-size: 20px;
}
#mascotas 
{
    font-size: 20px;
}
#convivir 
{
    font-size: 20px;
}
#familia 
{
    font-size: 20px;
}
#Lugar 
{
    font-size: 20px;
}
#Lugar2 
{
    font-size: 20px;
}
#titulo
{
    font-size: 15px; ;
}