#site-menu {
    display: flex;
    margin: 0;
    padding: 0;
    height: 400px;
    background-color: wheat;

}

#l1{
    /* flex-grow: 2; */
    order: 3;
    flex-basis: 500px;
    flex-shrink: 0;
    align-self: center;
}

#l2 {
    /* flex-grow: 3; */ 
    order: 2;
    width: 500px;
    align-self: flex-start;
}

#l3 {
    /* flex-grow: 2; */
    order: 1;
    align-self: flex-end;
}

#mini-page header{
    background-color: yellow;
    grid-column: 1/-1;
}

#mini-page article{
    background-color:yellowgreen;
}

#mini-page aside{
    background-color:royalblue;
}

#mini-page footer{
    background-color: rgb(249, 65, 65);
    grid-column: 1/-1;
}

#mini-page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 200px 100px; */
    gap: 1em;
}

#mini-page-2 header{
    background-color: yellow;
    grid-area: enc;
}

#mini-page-2 article{
    background-color:yellowgreen;
}

#mini-page-2 aside{
    background-color:royalblue;
    grid-area: barra
}

#mini-page-2 footer{
    background-color: rgb(249, 65, 65); 
    grid-area: pie;
}

#mini-page-2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 200px 100px; */
    gap: 1em;
    grid-template-areas: "enc barra"
                         "cont barra"
                         "pie pie";
}