body{
    background: #EC7063   ;
	color: #000;
}



.anime  {
    text-align: justify-all;
    margin-top:10px ;
    font-size: 20px;


}
.contenedor p {
    text-align: justify-all;
    margin-top:10px ;
    font-size: 20px;

}
.Shingeki{
    text-align: justify-all;
    margin-top:10px ;
    font-size: 20px;


}
.Sono{
    text-align: justify-all;
    margin-top:10px ;
    font-size: 20px;

}



#img1{
    float: right;
    
    width: 20;
    height: 20;
}
#img2{
    float: right;

    }

#img3{
    float: right;
}