body{
    background-image: linear-gradient(90deg, rgb(70, 70, 167), rgb(206, 194, 216));
}

#formulario{
    text-align: center;
    display: grid;
    width: 600px;
    gap: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 300px 300px;
    grid-template-areas:
    "encabezado encabezado"
    "num1 num2"
    "valor1 valor2"
    "sumar restar"
    "multiplicar dividir"
    "resul resul";
}

#valor1{
    grid-area: valor1;
}

#valor2{
    grid-area: valor2;
}

.sumar{
    grid-area: sumar;
}

.restar{
    grid-area: restar;
}

.dividir{
    grid-area: multiplicar;
}

.multiplicar{
    grid-area: dividir;
}

.num1{
    grid-area: num1;
}

.num2{
    grid-area: num2;
}

.resul{
    grid-area: resul;
}

.encabezado{
    grid-area: encabezado;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}

.img{
    display: grid;
    text-align: center;
    grid-template-areas: 
    "titulo titulo"
    "img img"
    "boton boton";
}

.titulo{
    grid-area: titulo;
}

.img{
    grid-area: img;
}

.boton{
    grid-area: boton;
}