#cuerpo {background-color: rgb(228, 222, 215);}
#parte_Superior img {height: 200px; width: 500px; float: left; margin-right: 2em;}
#parte_Superior address {background-color: darkkhaki; float: left; margin-left: 1px; font-size: 20px; }
