nav {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.logo {
    margin-left: 5rem;
}

ul {
    display: flex;
    margin-right: 3rem;
}

li {
    display: inline-flex;
    align-items: center;
    margin-right: 60px;
}

.nav-link {
    text-decoration: none;
    color: white;
}