#info img {
    width: 250px;
    float: left;
    margin-right: 1em;
    border-radius: 50%;
}

#nav-main ul {
    background-color: lightpink;
}

#nav-main ul {
float: left;
width: 20%;
}

.clearfix::after{
    clear: both;
    content: "";
    display: table;
}

#nav-main-2 ul:hover{
    background-color: mediumorchid;
}

#nav-main-2 ul {
    background-color: lightslategray;
    list-style: none;
    padding: 0px;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    height: 400px;
    justify-content: space-around;
    align-content: space-between;
    
}

#nav-main-2 ul li{
    margin: 1em 1.5em;
}

