* {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
}
header {
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 65px;
}

body {
    background: url(Recursos/Foto\ estadio.jpg);
    background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
h1 {
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

p {
    color: aqua;
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
em {
    color: rgb(18, 54, 215);
}

h2 {
    color: white;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
