* {
    margin: 1px;
    padding: 1px;
}

.menu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    padding: 10px;
    background-color:#F2F2F2;
}
h1 {
    color: aliceblue;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body { 
    background: url(Recursos/fondo.jpg);
    background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
}




 p {
    color: black;
    font: 150% sans-serif;
    justify-content: center;
    background-color: gainsboro;
}

h2 {
    color: aliceblue;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


