* {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
    }

h1 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

body {
    background-color: azure;
    align-items: center;
}
 
p {
    text-align: center;
    font-size: 25px;
    color: darkcyan;
}

blockquote {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

cite {
    text-align: center;
    font-size: 20px;
    
}