header {
    color: blue;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
color: chartreuse;
font-size: 45px;
font-family: 'Times New Roman', Times, serif;
}

table {
    
}