* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: Verdana;
}

h1 {
    text-align: center;
    padding: 15px;
}

.ubicaciones {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

.espaciado-mapas {
    padding: 30px;
}