* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: Verdana;
}

h1 {
    text-align: center;
    padding: 15px;
}

.ubicaciones {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

.espaciado-mapas {
    padding: 30px;
}

header {
    background-color: #f6cf87af;
}

footer {
    background-color: #FFF9B0;
}
main {
    background-color: #f8e8c9cc;
}

