#nombreNegocio{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align:center;
    background-color: rgb(255, 217, 0);
    color:black
}

.barra_principal{
    display: flex;
    justify-content: center;
    background-color: black;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0%;
    list-style: none;
    padding: 0%;
}

.barra_principal li a{
    flex-direction: column;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.barra_principal li a:hover{
    color: rgb(149, 243, 157);
}

#img02{
    width: 1333px;
    height: auto; 
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(102, 90, 21);
    text-align: center;
    width: 100%;
    margin: 0%;
    list-style: none;
    padding: 0%;
}

pre{
    flex-direction: column;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
    font-size: 18px;
}