.login-box {
  width: 320px;
  height: 420px;
  background: rgb(79, 71, 150);
  color: #fff;
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px 30px;
}

h1{
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.calc{
  background: #b80f22;
  color: #fff;
  border-radius: 20px;
  border-color: #b80f22;
  margin-left: 7.5em;
  padding: 10px;
}


.calc:hover {
  cursor: pointer;
  background: #ffc107;
  border-color: #ffc107;
  color: #000;
}