*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*ul principal del nav*/
.menu{
    position: absolute;
}
.lista{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    background-color: transparent;
    display: flex;
    z-index: 1;
    align-items: center;
}

.li a{
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .lista{
        flex-direction: row;
    }
}

li{
    padding: 1em;
}

/*palabra visible del menu */
.link{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

section{
    margin-top: 0;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}

/*Colores de secciones con gradiens*/
section:nth-child(5){
    background-image: linear-gradient(to top, #ddd6f3 0%, #ffafbd 100%);
}
section:nth-child(4){
    background-image: linear-gradient(to top, #ffafbd 0%, #ddd6f3 100%);
}
section:nth-child(3){
    background-image: linear-gradient(to top, #ddd6f3 0%, #ffafbd 100%);
}
section:nth-child(2){
    background-image: linear-gradient(to top, #ffafbd 0%, #ddd6f3 100%);
}

/*tarjetas de articulos*/



.contenedor{
    width: 100%;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.contenedor .card{
    background-color: white;
    width: 240px;
    height: 330x;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.contenedor .card img{
    width: 240px;
    height: 250px;
}

.card p{
    margin: auto;
    font-size: 15px;
    padding: 5px;
}

.card a{
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

.card a:hover{
    background-color: #ddd6f3;
    color: black;
}

footer{
    padding: 10px;
    background-color: grey;
}

footer p{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
