*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Formulario para registrarse*/
.contenedor-formulario{
    position: relative;
    background: #C2C2C2;
    top: 150px;
    left: 27%;
    display: block;
    margin-bottom: 80px;
    width: 600px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

h2{
    padding: 20px 40px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #414141;
    text-align: center;
}

p{
    padding: 20px 40px;
    text-transform: uppercase;
    color: #414141;
}

input{
    display: block;
    height: 40px;
    width: 90%;
    margin: 0 auto;
    border: none;
}

.nombre, .apellidos, .correo{
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #414141;
    font-family: 'Open Sans' sans-serif;
    background-color: white;
    text-transform: uppercase;
    color: #858585;
    font-weight:lighter;
    -webkit-transition:.5s;
    transition:.5s;
    padding: 4px;
}

.enviar{
    display: inline-block;
    text-decoration: none;
    margin: 20px 33%;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 6px;
}

.enviar:hover{
    background-color: white;
    color: black;
    border: none;
}



    




