* {
    margin: 0%;
    padding: 0%;
}

body{
    background: url(../recursos/Fondoaliens.jpg);
    background-size: 100%;
}

.grid div{
    /*background-color: red;*/
    padding: 1em;
}

header{
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(45deg,#42032C,#E38B29);
    height: auto;
}

.grid{
    text-align: center;
    display: grid;
    grid-template-areas: 
    "teoria videos"
    "footer footer";

    column-gap: 1em;
}

p{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
}

.pie{
    display: flex;
    color: white;
    /*background-color: #f56a00;*/
    height: 50px;
    width: 200%;
    line-height: 50px;
}

h1{
    color: white;
}

mark{
    background-color: blue;
}

.tabla{
    justify-content: center;
    background-image: linear-gradient(90deg,blue,black);
    width: 50%;
    text-align: center;
    color: white;
}


th,td{
    border: solid 1px black;
    padding: 0%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: red;
}