* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../Recursos/estrellas.jpg);
    background-size: 100%;
}
#tema {
    display: flex;
    text-align: center;
    color: #EDEDED; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-100%);
}

.li li{
    float: left;
    width: 20%;
    text-align: center;
    transform:translateX(50%) translateY(1700%);
    color: blanchedalmond;
}
.li a {
    color: black;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FB2576;
}
footer {
    color: white;
}
