* {
    margin: 0px;
    padding: 0px; 
}

body {
    background: url(../Recursos/estrellas.jpg);
    background-size: 100%;
    color: #FB2576;
}

#contenedor {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom:20px;
    background: url(../Recursos/estrellas.jpg);
    padding: small;
}
header {
    height: 150px;
    background:#247881;
    color: beige;
}
header h1 {
    font-size: 50px;
    text-align: center;
    line-height: 156px;
}
nav {
    background: #247881;
    height: 60px;
    margin-top: 10px;
    /* margin-right: 10px;*/
}
nav h2 {
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}
.contenido {
    text-align: center;
    width: 700px;
    height: 500px;
    float: left;
    /*background: #5CB8E4;*/
    margin-top: 10px;
    margin-right: 10px;
    color: beige;
}
.contenedor h2 {
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}
img{
    justify-content: center;
    width: 200px;
    height: auto;
}
aside {
    text-align: center;
    width: 250px;
    height: 500px;
    /*background: #F94892;*/
    margin-top: 10px;
    float: right;
    color: beige;
}
.aside h2 {
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}
footer {
    background: #247881;
    clear: both;
    transform: translateY(10%);
    color: beige;
}
footer h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}



