body{
    font-family: Tahoma;
    font-size: 20px;
    background-color:#F5EFE6 ;
}

#barra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    background-color: #4C6793;
    color: #4C6793;
    margin: 0px;
}

.menu li:hover{
    background-color: #B7C4CF;
    color: black;
    padding: 10px;
}

.menu ul{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    padding: 10px;
    background-color:#F2F2F2;
}

.frase figcaption{
    background-color: #DFDFDE;
    text-align: center;   
}


.Img-horizontales{
    padding-left: 150px;
    padding-right: 150px;
}

.ventajas ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: #EDEDED;
    border: solid black;
}

.ventajas p{
    font-size: 15px;
    text-align: center;
}
.ventajas img{
    width: 60px;
    padding-left: 60px;
}

#fondo{
    background-color: #B4CDE6;
}

.Listas ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.Ediciòn-lista{
    width: 200px;
}

form {
    margin: 0 auto;
    width: 400px;
    list-style: none;
    background-color: #D2DAFF;
    padding: 10px;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 10px;
    background-color: #F2F2F2;
}

#img{
    display: inline;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 200px;
    margin: auto;
    float: left;
}

.datos p,h3{
    font-size: 15px;
    font-family: sans-serif;
}

button{
    font-size: 15px;
    background-color:#B7C4CF;
}

#Pie{
    text-align: center;
    background-color:#EEF1FF;
    padding: 15px;
}

#Adress{
    background-color:#4C6793;
    padding:10px;
}



